{% extends 'base.html' %}

{% block titleBlock%}Regras{% endblock %}

{% block links %}
  <link rel="stylesheet" href="/static/rules/css/rules.css">
{% endblock %}

{% block content%}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center">LISTA DE REGRAS</h1>
    </div>
  </div>
  <div class="row">
    <div id="rules_container" class="col-md-8 col-md-offset-2" ng-controller="ruleController">
      <div class="panel panel-primary" ng-repeat="rule in rules">
        <div class="panel-heading" ng-bind="rule.fields.name"></div>
        <div class="panel-body">
          <div class="col-md-6">
            <p>Pattern: <span ng-bind="rule.fields.pattern"></span></p>
            <p>Warning: <span ng-bind="rule.fields.warning"></span></p>
          </div>
          <div class="col-md-1 col-md-offset-2">
            <button type="button" class="btn btn-primary">Editar</button>
          </div>
          <div class="col-md-1 col-md-offset-1">
            <button type="button" class="btn btn-danger">Remover</button>
          </div>
        </div>
      </div>

      <!-- Add new rule template -->
      <form class="hide" method="post" action="{% url 'rules:create_rule' %}" id="add-new-rule-template">
        {% csrf_token %}
        <div class="panel panel-primary" >
          <div class="panel-heading">
            <label for="rule_name">Nome: </label>
            <input type="text" name="rule_name">
          </div>
          <div class="panel-body">
            <div class="col-md-6">
              <label for="rule_pattern">Padrão: </label>
              <input type="text" name="rule_pattern"><br>
              <label for="rule_warning">Aviso: </label>
              <input type="text" name="rule_warning"><br>
            </div>
            <div class="col-md-1 col-md-offset-2">
              <button type="submit" id="save_button" class="btn btn-success">Salvar</button>
            </div>
            <div class="col-md-1 col-md-offset-1">
              <button type="button" id="cancel_button" class="btn btn-danger">Cancelar</button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-8 col-md-offset-4">
      <button class="btn btn-success" id="add-new-rule-button"><span class="glyphicon glyphicon-plus"></span>Nova Regra</button>
    </div>
  </div>
</div>
{% endblock %}

{% block script%}
  <script src="/static/rules/js/rules.js"></script>
{% endblock %}
