{% extends 'base.html' %}

{% block titleBlock %} TCC go | Trabalhos {% endblock %}

{% block content %}

<div class="container">
	<div class="row" >
		<div class="col-md-8 col-md-offset-2" style="text-align: center">
			<h3> Consulta de Trabalhos Submetidos </h3>
			<br />
		</div>
	</div>

	<div id="accordion" class="col-md-8 col-md-offset-2 panel-group" ng-controller="textController">
		<!-- Search input  -->
		<div class="input-group input-group col-md-8 col-md-offset-2">
			<input class="form-control" type="text" name="text_search" ng-change="filterTexts()" ng-model="searchText" placeholder="Buscar Trabalho">
			<span class="input-group-btn">
				<button class="btn btn-primary" data-toggle="tooltip" title="Buscar"><span class="glyphicon glyphicon-search" ></span></button>
			</span>
		</div>
		<br />

		<!--Panels  -->
		<div class="panel panel-default" ng-repeat="text in texts">
			<div class="panel-heading" >
					<span ng-bind="text.fields.title" style="font-weight: bold"></span>
					<div class="btn-group" style="float: right">
						<a href="#" class="btn btn-primary btn-xs" data-toggle="tooltip" title="Editar" ><span class="glyphicon glyphicon-pencil" ></span></a>
						<button type="button" class="btn btn-primary btn-xs remove-button" data-toggle="tooltip" title="Deletar"><span class="glyphicon glyphicon-trash" ></span></button>
					</div>
				</div	>
				<div class="panel-body">
					<span ng-bind="text.fields.content"></span>
				</div>
		</div>
	</div>

	{% endblock %}

	{% block script %}
	<script type="text/javascript">
	var app = angular.module("myApp", []);

	app.controller("textController", function($scope, $http){
		$http.defaults.xsrfCookieName = 'csrftoken';
		$http.defaults.xsrfHeaderName = 'X-CSRFToken';

		$http.get('/text/all_texts')
		.then(function(data){
			var texts = JSON.parse(data.data);
			$scope.texts = texts;
		})

		$scope.searchText = "";
		$scope.filterTexts = function(){
			$http.post('/text/filter_texts', {'search_text' : $scope.searchText})
			.then(function(response){
				var texts = JSON.parse(response.data);
				$scope.texts = texts;
				// $scope.$digest();
			});
		};
	});

	function csrfSafeMethod(method) {
			// Used on setting the token to send Ajax
			return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
	}
	$(document).ready(function(){
		/* Setting up behavior of elements */
		// Adding token to AJAX
		var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();

		$.ajaxSetup({
			beforeSend: function(xhr, settings) {
					if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
							xhr.setRequestHeader("X-CSRFToken", csrftoken);
					}
			}
		});

		$(document).on('click', '.remove-button',  function(){
			// Way to remove rules in the rule list page

			var confirmation = confirm("Tem certeza que deseja deletar esse trabalho? ");
			if(!confirmation){  // Respondeu nao
				return false;
			}
			var text_title = $(this).parent().parent().text();
			var response = {};
			response['text_title'] = text_title;

			//  $.ajax({
			// 	url: 'delete_text',
			// 	method: 'post',
			// 	data: response,
			// 	success: function(data){
			// 		if(data.status == 501){ // Not user rule
			// 			alert('Um usuário só pode deletar os próprios trabalhos.')
			// 			return false;
			// 		}
			// 		alert('Trabalho deletado com sucesso!')
			// 	},
			// 	error: function(){
			// 		alert("Failure")
			// 	}
			// });

		});
	});

	</script>
	{% endblock %}
