{% extends 'base.html' %}

{% block titleBlock %} TCC Go{% endblock %}

{% block content %}

 <div id="novo_texto" class="container" class="col-md-8 col-md-offset-2" ng-controller="textController">
   {% if user.is_authenticated %}
    <div class="row">
      <div class="col-md-8 col-md-offset-2" style="text-align: center">
        <h3>Submissão de Trabalho </h3>
        <br />
      </div>
    </div>

    <form  method="post" action="submit_text" id="new-text-form" name="new-text-form"class="col-md-8 col-md-offset-2" ng-submit="send($event)">
      {% csrf_token %}
          <div class="row">
              <input  class="form-control" id="title" type="text" name="title" ng-model="text.title" required placeholder="Título" oninvalid="this.setCustomValidity('Preencha o campo por favor')"
    oninput="setCustomValidity('')"  />
          </div>
            <br />
          <div class="row">
            <textarea class="form-control" id="content" name="content" style="resize: none; height: 300px" ng-model="text.content" required placeholder="Corpo do trabalho" oninvalid="this.setCustomValidity('Preencha o campo por favor')"
  oninput="setCustomValidity('')"  /> </textarea>
          </div>
            <br />
          <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal" style="float: right;"> Selecionar Regras</button>


          <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Regras</h4>
                </div>
                <div class="modal-body">
                  <div class="container-fluid">
                    <div class="row">
                      <center><h4>Regras Públicas</h4></center>
                      <div class="col-md-1"></div>
                      <div class="col-md-10">
                        <select name="public_selected" id="public_selected" ng-model="public_selected" multiple class="form-control">
                          <option ng-hide="rule.scope == 'PV'"ng-repeat="rule in rules" ng-bind="rule.name" ng-value="rule.id"></option>
                        </select>
                      </div>
                      <div class="col-md-1"></div>
                    </div>
                    <div class="row" style="margin-top:15px">
                      <center><h4>Regras Públicas</h4></center>
                      <div class="col-md-1"></div>
                      <div class="col-md-10">
                        <select name="private_selected" id="private_selected" ng-model="private_selected" multiple class="form-control">
                          <option ng-hide="rule.scope == 'PU'"ng-repeat="rule in rules" ng-bind="rule.name" ng-value="rule.id"></option>
                        </select>
                      </div>
                      <div class="col-md-1"></div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger" data-dismiss="modal">cancelar</button>
                  <button type="submit" class="btn btn-primary" ng-click="enviar()"> Salvar e Processar</button>
                </div>
              </div>

            </div>
          </div>

    </form>
    {% endif %}
  </div>

{% endblock %}

{% block script %}
<script type="text/javascript">
var app = angular.module("myApp", []);

app.controller("textController", function ($scope, $http){
  $http.defaults.xsrfCookieName = 'csrftoken';
  $http.defaults.xsrfHeaderName = 'X-CSRFToken';

  $scope.text = {
    title: '',
    content: ''
  }

  $scope.rules = []
  $scope.public_selected = []
  $scope.private_selected = []

  $http.get('/rules/all_rules')
  .then(function(response){
    $scope.rules = response.data['rules'];
  });

  $scope.send = function(e){
    e.preventDefault();

    $http.post('/text/submit',{text:$scope.text, public_rules:$scope.public_selected, private_rules:$scope.private_selected}).then(function(response){
        if(response.data['success'])
        {
          alert("Texto cadastrado com sucesso");
          $scope.text['title'] = '';
          $scope.text['content'] = '';
          jQuery('#myModal').modal('toggle');
          id = response.data['result']['id'];
          url = 'http://127.0.0.1:8000/text/processing_text/';
          window.sessionStorage.setItem('myID', id);
          window.location = url;
        }else{
          alert("Título já é utilizado. Escolha outro por favor");
        }
      }
    );
  }
});

</script>
{% endblock %}
