<!DOCTYPE html>
<html>
  <head>
    {% load staticfiles %}
    <meta charset="utf-8">

    <title>{% block titleBlock %}{% endblock %}</title>

    <link rel="stylesheet" type="text/css" href="{% static 'general/css/bootstrap-theme.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'general/css/bootstrap-theme.min.css.map' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'general/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'general/css/bootstrap.min.css.map' %}">
    {% block links %}{% endblock %}

    <!--Angular is the only js that is placed here-->
    <script src="{% static 'general/js/angular.min.js' %}"></script>
  </head>
  <body ng-app="myApp">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'core:index' %}">TCC-go</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            {% if not user.is_authenticated %}
              <li><a href="{% url 'authentication:login' %}">Entrar</a></li>
              <li><a href="{% url 'authentication:register' %}">Cadastrar</a></li>
            {%endif%}
            {% if user.is_authenticated %}
              <li><a href="#">Análisar</a></li>
              <li><a href="#">Relatórios</a></li>
              <li><a href="{% url 'rules:rules_list' %}">Regras</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Trabalhos <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="{% url 'text:submit_page' %}">Submeter trabalho</a></li>
                  <li><a href="#">Consultar Trabalhos</a></li>
                  <li role="separator" class="divider"></li>
                  <!--li class="dropdown-header">Nav header</li-->
                  <li><a href="#">Contribuir</a></li>
                </ul>
              </li>
            {% endif %}
              <li><a href="{% url 'faqs:faqs' %}">FAQ.</a></li>
          </ul>

          {% if user.is_authenticated %}
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Perfil {{user.username}} <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'authentication:register' %}">Editar Perfil</a></li>
                <li><a href="{% url 'authentication:password' %}">Alterar Senha</a></li>
                <li role="separator" class="divider"></li>
                <!--li class="dropdown-header">Nav header</li-->
                <li><a href="{% url 'authentication:logout' %}">Sair</a></li>
              </ul>
            </li>
          </ul>
          {% endif %}
        </div>
      </div>
    </nav>
    {% block content %}{% endblock %}

    <script src="{% static 'general/js/jquery.min.js' %}"></script>
    <script src="{% static 'general/js/bootstrap.min.js' %}"></script>
    {% block script %}{% endblock %}
  </body>
</html>
