{% extends 'base.html' %}

{% block titleBlock %} TCC go | FAQ {% endblock %}

{% block content %}


<div class="container">
	<div class="row" >
		<div class="col-md-8 col-md-offset-2" style="text-align: center">
			<h3>Perguntas Frequentes </h3>
    	<br />
		</div>
	</div>
		<div id="questions_container" class="col-md-8 col-md-offset-2" ng-controller="questionController">

			<div class="panel panel-default" ng-repeat="question in questions">
					<div class="panel-heading" ng-bind="question.fields.question">
							<h4 class="panel-title">
									<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse"> <span ng-bind="question.fields.question"></span></a>
							</h4>
					</div>
					<div id="collapse" class="panel-collapse collapse in" >
							<div class="panel-body">
									<span ng-bind="question.fields.answer"></span>
							</div>
					</div>
			</div>
</div>


{% endblock %}

{% block script %}
<script type="text/javascript">
var app = angular.module("myApp", []);
app.controller("questionController", function($scope, $http){
  $http.defaults.xsrfCookieName = 'csrftoken';
  $http.defaults.xsrfHeaderName = 'X-CSRFToken';

  $http.get('/faqs/all_questions').then(function(data){
    var questions = JSON.parse(data.data);
    $scope.questions = questions;
  })
});

</script>
{% endblock %}
