{% extends 'base.html' %}

{% block titleBlock %} TCC go | FÓRUM {% endblock %}

{% block content %}
<div class="container"  ng-controller="forumController">
	<div class="row" >
		<div class="col-md-8 col-md-offset-2" style="text-align: center">
			<h3> Welcome to the Django </h3>
			on click ID para ir para a pagina de visualizar o tpoicos e os posts [ V ]<br>
			responder topicos [ V ]<br>
			EDITAR [  ]<br>
			FAZER CITAÇÃO [  ]<br>
			<br />
		</div>
	</div>

	<div class="col-md-10 col-md-offset-2 " style="text-align: center">
		<!-- Search input  -->
		<div class="input-group input-group col-md-10 col-md-offset-0 ">
			<input class="form-control" type="text" name="topic_search" ng-change="filterTopics()" ng-model="searchTopic" placeholder="Buscar Tópico">
			<span class="input-group-btn">
				<button class="btn btn-primary" data-toggle="tooltip" title="Buscar"><span class="glyphicon glyphicon-search" ></span></button>
			</span>
		</div>
	</div>
	<br/><br/><br/>
	<div class="col-md-12 text-center">
		<button type="submit" class="btn btn-primary" ng-click="newTopic()"> Novo Tópico</button>
	</div>
	<br/><br/><br/>
		<!--Panels  -->
	<div class="col-md-10 col-md-offset-1 panel-group">
	<form method="post" action="login" id="myForm" name="myForm" ng-submit="send($event)" validate>
			{% csrf_token %}
		<div class="panel panel-default" ng-repeat="topic in topics" ng-click="viewTopic(topic.id)">
			<div class="panel-heading topic"  >
					<span data-id="topic.title" ng-bind="topic.title" style="font-weight: bold"></span>
				</div>
				<div class="panel-body">
					<p ng-bind="topic.message"></p>
				</div>
		</div>
	</form>
	</div>
</div>
{% endblock %}

{% block script %}
<script>
var app = angular.module("myApp", []);

app.controller("forumController", function($scope, $http){
  $http.defaults.xsrfCookieName = 'csrftoken';
  $http.defaults.xsrfHeaderName = 'X-CSRFToken';


	$scope.searchTopic = "";

	$http.get('/forum/all_topics')
  .then(function(data){
    var topics = data.data;
    $scope.topics = topics;
  });

	$scope.filterTopics = function(){
		$http.post('/forum/filter_topics',
			{
				'search_topic' : $scope.searchTopic
			}
		).then(function(response){
			$scope.topics = response.data['filtered_topics'];
		});
	};

	$scope.newTopic = function(){
		url = 'http://127.0.0.1:8000/forum/new_topic/';
    window.location = url;
	};

	$scope.viewTopic = function(id){
		alert("cliquei no topic ID ->" + id);
		url = 'http://127.0.0.1:8000/forum/view_topic/';
    window.sessionStorage.setItem('myID', id);
    window.location = url;

	};

});

</script>
{% endblock %}
