
{% extends 'base.html' %}

{% block titleBlock %} TCC Go {% endblock %}

{% block content %}

<div class="container" ng-controller="passwordController">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <h3>Alteração de Senha</h3>
      <hr>
    </div>
    <div class="col-md-3"></div>
  </div>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <form method="post" id="myForm" name="myForm" ng-submit="send($event)" novalidate>
        {% csrf_token %}
        <div class="form-group row">
          <label for="password" class="col-md-2 col-form-label">Senha Antiga</label>
          <div class="col-md-10">
            <input type="password" class="form-control" id="old_password" name="old_password" ng-model="old_password" ng-minlength="6" required placeholder="********">
            <span style="color:red" ng-show="myForm.old_password.$touched && myForm.old_password.$invalid">
              <span ng-show="myForm.old_password.$error.required">Campo Obrigatório</span>
              <span ng-show="myForm.old_password.$error.minlength">Senha deve conter mais de 6 caracteres</span>
            </span>
          </div>
        </div>
        <div class="form-group row">
          <label for="password" class="col-md-2 col-form-label">Senha Nova</label>
          <div class="col-md-10">
            <input type="password" class="form-control" id="new_password" name="new_password" ng-model="new_password" ng-minlength="6" required placeholder="********">
            <span style="color:red" ng-show="myForm.new_password.$touched && myForm.new_password.$invalid">
              <span ng-show="myForm.new_password.$error.required">Campo Obrigatório</span>
              <span ng-show="myForm.new_password.$error.minlength">Senha deve conter mais de 6 caracteres</span>
            </span>
          </div>
        </div>
        <div class="form-group row">
          <label for="check" class="col-md-2 col-form-label">Confirmação de Senha</label>
          <div class="col-md-10">
            <input type="password" class="form-control" id="check_password" name="check" ng-model="check_password" ng-focus="check_pass()" required placeholder="********">
            <span style="color:red" ng-show="myForm.check.$touched && dismatch_pass">
              <span ng-show="dismatch_pass">Senhas não batem</span>
            </span>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-2"></div>
          <div class="col-md-10">
            <div class="text-right">
              <button ng-disabled="myForm.old_password.$invalid || myForm.new_password.$invalid || myForm.check_password.$invalid || dismatch_pass"
              type="submit" class="btn btn-primary">Alterar Senha</button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript">
var app = angular.module("myApp", []);
app.controller("passwordController", function($scope, $http){
  $http.defaults.xsrfCookieName = 'csrftoken';
  $http.defaults.xsrfHeaderName = 'X-CSRFToken';

  $scope.dismatch_pass = false;
  $scope.old_password = "";
  $scope.new_password = "";
  $scope.check_password = "";

  $scope.send = function (e) {
      e.preventDefault();

      response = confirm("Tem certeza que deseja atualizar senha?");
      if(response){
        $http.post('/auth/register/change_password',
          {
            'old_password': $scope.old_password,
            'new_password': $scope.new_password,
            'check_password': $scope.check_password
          }).
        then(function(response){

          if(response.data == true)
          {
            alert(response.data['msg']);
          }
          else{
            alert(response.data['msg']);

          }
          $scope.old_password = "";
          $scope.new_password = "";
          $scope.check_password = "";
        });
      }
  }

  $scope.$watch("check_password", function(newValue,oldValue){
     $scope.check_pass();
  });

  $scope.check_pass= function(){
    if($scope.new_password == $scope.check_password)
    {
      $scope.dismatch_pass = false;
    }
    else
    {
      $scope.dismatch_pass = true;
    }
  }

});

</script>
{% endblock %}
